/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.choice {
  text-align: center;
  margin-top: 20px;
}

.select-text {
  font-size: 50px; /* Adjust font size as needed */
  font-weight: bold;
}

.tabs {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  text-align: center; /* Center the tabs */
}

.tablink {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 18px;
  margin: 0 10px; /* Add margin between tabs */
  position: relative; /* Add relative positioning for emojis */
}

.tablink:hover {
  background-color: #83d3ba;
  transform: scale(1.6);
}

.tablink::after {
  content: '';
  display: none; /* Hide the emoji by default */
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.tablink:hover::after {
  display: block; /* Show the emoji on hover */
}

.tablink:nth-child(1)::after {
  content: '\1F468'; /* Men emoji */
}

.tablink:nth-child(2)::after {
  content: '\1F469'; /* Women emoji */
}

.tablink:nth-child(3)::after {
  content: '\1F9D2'; /* Kids emoji */
}

.tabcontent {
  display: none;
  padding: 20px;
}

/* Product Card Styles */
.product-card {
  width: 100%; /* Adjust the width to fill the container */
  max-width: 370px; /* Limit the maximum width */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto; /* Center the cards and add margin */
  padding: 20px;
  text-align: center;
  position: relative; /* Add relative positioning for badge */
  display: inline-block;
}
.product-card:hover {
  transform: scale(1.1); /* Enlarge the card on hover */
}

.product-card img {
  width: 300px; /* Adjust the width as needed */
  height: 400px; /* Adjust the height as needed */
  object-fit: cover; /* Ensure the image covers the specified dimensions */
  border-radius: 8px;
}

.product-badge {
  background-color: #e41e1a;
  color: #fff;
  font-size: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  top: 15px; /* Adjust top position */
  left: 10px; /* Adjust left position */
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-vendor {
  color: #666;
  margin-bottom: 8px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
}

.product-compare {
  text-decoration: line-through;
  color: #999;
  margin-bottom: 8px;
}

.product-discount {
  color: #4CAF50;
  font-weight: bold;
  margin-bottom: 16px;
}

.add-to-cart {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #45a049;
  transform: scale(1.6);
}
